.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  row-gap: 3px;
  font-family: 'Arial', sans-serif;
}

.searchBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5eeff;
  padding: 40px;
  border: 1px solid rgb(27, 104, 167) rgb(107, 188, 255)
    rgba(107, 188, 255, 0.897);
  width: 100%;
}

.cardsBlock {
  background-color: #9ce0ffc9;
  padding: 20px;
  width: 100%;
  height: 100%;
}
