.searchWrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.input {
  width: 300px;
  padding: 15px;
  border: 2px solid #34bfff;
  border-radius: 7px;
}

.searchSubmitBtn {
  padding: 10px 25px;
  background-color: #82d8ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchSubmitBtn:hover {
  background-color: #34bfff;
  transition: 0.3s;
}

.errorBtn {
  padding: 10px 25px;
  background-color: hsl(346, 100%, 81%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.errorBtn:hover {
  background-color: #ff7b9a;
  transition: 0.3s;
}
